body {
  background-color: rgb(146, 189, 223);
}

p {
  margin: 4px;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: black;
}

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.board-and-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
}

.status {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.black-square {
  background: rgb(89, 192, 89);
  border: 1px solid rgb(68, 68, 68);
  color: black;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px; 
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.white-square {
  background: rgb(89, 192, 89);
  border: 1px solid rgb(68, 68, 68);
  color: white;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

@media (max-width: 700px) {
  .app {
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  .board-and-status {
    display: flex;
    flex-direction: column;
  }

  .status {
    display: flex;
    flex-direction: row;
  }

  .black-square {
    background: rgb(89, 192, 89);
    border: 1px solid rgb(68, 68, 68);
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    width: 20px;
    margin-right: -1px; 
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .white-square {
    background: rgb(89, 192, 89);
    border: 1px solid rgb(68, 68, 68);
    color: white;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    width: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
}